{% extends 'base.html' %}
{% block title%} About Us {% endblock %}
<style>
{% block style%}


iframe{

 margin: 40px 210px;

}

{% endblock %}
</style>

{% block body%}
<p><label for="address">Address:</label>1ST FLOOR DN SHOPPING CENTER OPP GANDHI LIBRARY VALSAD, GUJARAT-396001</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3734.4527657911194!2d72.92938989999999!3d20.6103939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be0e935725130af%3A0x639502a3555f0ff7!2sDN%20Sopping%20center!5e0!3m2!1sen!2sin!4v1703180136772!5m2!1sen!2sin" width="1024" height="612" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}
